In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

df = pd.read_csv("movie.csv")
df

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,960258,Shark Bait,A group of friends enjoying a weekend steal a ...,2022-05-13,34.679,5.697,318
1,1,11067,Major League II,"After losing in the ALCS the year before, the ...",1994-03-30,16.374,5.697,320
2,2,20856,Aliens in the Attic,A group of kids must protect their vacation ho...,2009-07-30,20.437,5.696,973
3,3,14098,100 Feet,After Marnie Watson kills her abusive husband ...,2008-07-22,18.927,5.696,304
4,4,11398,The Art of War,Neil Shaw is both agent and weapon - a critica...,2000-08-25,12.022,5.696,477
...,...,...,...,...,...,...,...,...
8575,8575,10723,Bulletproof,An undercover police officer named Rock Keats ...,1996-09-06,12.428,5.700,569
8576,8576,397422,Rough Night,Five best friends from college reunite 10 year...,2017-06-15,19.368,5.688,1963
8577,8577,70435,Haywire,A black ops soldier seeks payback after she is...,2011-11-01,17.259,5.700,1333
8578,8578,36599,Prom Night,"At a high school senior prom, a masked killer ...",1980-07-18,15.854,5.700,414
8579,8579,23410,The Thaw,"At a remote Arctic research station, four ecol...",2009-08-30,18.424,5.689,304

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

df = pd.read_csv("movie.csv")
new_df = df.dropna()

print(new_df.to_string())

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)